In [111]:
import pandas as pd
import numpy as np
from pandas import Series
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
from zipfile import ZipFile
import requests
from tabulate import tabulate
import datetime
import calendar

In [112]:
%matplotlib inline

# Getting Data

## Zillow Dataset (Zillow API)

### Latest Data

In [113]:
url_zillow = "https://files.zillowstatic.com/research/public_csvs/zhvi/Metro_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv?t=1635114063"
r = requests.get(url_zillow, allow_redirects=True)
open('zillowData.csv', 'wb').write(r.content)

1833609

In [114]:
df_zillow = pd.read_csv('zillowData.csv')
df_zillow.head()

   RegionID  SizeRank  ... 2021-09-30 2021-10-31
0    102001         0  ...   308632.0   312728.0
1    394913         1  ...   564641.0   569191.0
2    753899         2  ...   846549.0   851308.0
3    394463         3  ...   283620.0   286280.0
4    394514         4  ...   326057.0   332118.0

[5 rows x 267 columns]

In [115]:
#remove regiontype
df_zillow.drop(['RegionType'], axis=1,  inplace=True)

### Crosswalk between Zillow and Federally Defined Regions

In [116]:
#https://data.world/zillow-data/crosswalk-between-zillow-and-federally-defined-regions
#url_xtalk = "https://data.world/zillow-data/crosswalk-between-zillow-and-federally-defined-regions/file/CountyCrossWalk_Zillow.csv"
url_xtalk = "http://files.zillowstatic.com/research/public/CountyCrossWalk_Zillow.csv"
rx = requests.get(url_xtalk,allow_redirects=True)
open('zillowXTalk.csv', 'wb').write(rx.content)

229072

In [117]:
df_Xtalk = pd.read_csv('zillowXTalk.csv',sep=',', encoding='gbk')
df_Xtalk.head()

  CountyName   StateName  StateFIPS  ...  MetroRegionID_Zillow   FIPS CBSACode
0     Hudson  New Jersey         34  ...              394913.0  34017  35620.0
1     Morris  New Jersey         34  ...              394913.0  34027  35620.0
2     Nassau    New York         36  ...              394913.0  36059  35620.0
3     Orange    New York         36  ...              394913.0  36071  35620.0
4     Putnam    New York         36  ...              394913.0  36079  35620.0

[5 rows x 10 columns]

In [118]:
df_Xtalk.drop(["StateFIPS", "CountyFIPS", "CBSAName", 'CountyRegionID_Zillow', "StateName", "MetroName_Zillow"], axis=1, inplace=True)

In [119]:
df_Xtalk

     CountyName  MetroRegionID_Zillow   FIPS  CBSACode
0        Hudson              394913.0  34017   35620.0
1        Morris              394913.0  34027   35620.0
2        Nassau              394913.0  36059   35620.0
3        Orange              394913.0  36071   35620.0
4        Putnam              394913.0  36079   35620.0
...         ...                   ...    ...       ...
3139     Fisher                   NaN  48151       NaN
3140     Forest                   NaN  42053       NaN
3141     Forest                   NaN  55041       NaN
3142     Foster                   NaN  38031       NaN
3143     Fulton                   NaN   5049       NaN

[3144 rows x 4 columns]

In [120]:
#remove empty row
df_Xtalk.dropna(axis=0, subset=['MetroRegionID_Zillow', 'CBSACode'], inplace=True)
df_Xtalk['CBSACode'] = df_Xtalk['CBSACode'].astype('int')

In [121]:
df_Xtalk.drop_duplicates(subset=['MetroRegionID_Zillow', 'CBSACode'], inplace=True)

In [122]:
#merge zillow data with cross talk data
zillowCBSA = df_zillow.merge(df_Xtalk, left_on='RegionID', right_on='MetroRegionID_Zillow')
#drop MetroRegionID_Zillow

## House Price Index (Fred Economic Data)

In [140]:
states = ["AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DC", "DE", "FL", "GA", 
          "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD", 
          "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", 
          "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC", 
          "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY"]
dfs = []
for state in states:
  url = f"https://fred.stlouisfed.org/graph/fredgraph.csv?mode=fred&id={state}STHPI&cosd=2000-01-01&coed=2021-04-01"
  r = requests.get(url, allow_redirects=True)
  open('data-hpi.csv', 'wb').write(r.content)
  df_state_hpi = pd.read_csv('data-hpi.csv')
  dfs.append(df_state_hpi)

In [141]:
import functools
df_hpi = functools.reduce(lambda left,right: pd.merge(left,right,on='DATE',how='outer'),dfs)
df_hpi

          DATE  ALSTHPI  AKSTHPI  AZSTHPI  ...  WASTHPI  WVSTHPI  WISTHPI  WYSTHPI
0   2000-01-01   208.29   173.03   200.31  ...   269.79   148.06   227.79   150.22
1   2000-04-01   210.06   175.22   202.53  ...   272.56   149.11   228.96   151.76
2   2000-07-01   211.71   176.35   205.25  ...   276.23   150.41   232.33   153.27
3   2000-10-01   214.38   176.80   208.36  ...   279.75   151.74   235.16   156.62
4   2001-01-01   220.65   179.97   213.01  ...   286.57   156.06   238.74   157.74
..         ...      ...      ...      ...  ...      ...      ...      ...      ...
81  2020-04-01   346.15   342.26   452.25  ...   686.92   241.23   378.85   339.07
82  2020-07-01   353.27   346.15   463.33  ...   702.62   245.47   386.23   344.09
83  2020-10-01   360.35   350.13   479.53  ...   721.18   248.92   394.06   351.01
84  2021-01-01   367.06   352.81   499.96  ...   741.75   253.15   399.07   356.57
85  2021-04-01   384.62   366.24   538.54  ...   797.39   259.16   420.72   371.70

[86 rows x 52 columns]

## Unemployment Rate

In [142]:
uri_filenames = "https://download.bls.gov/pub/time.series/la/la.txt"
r = requests.get(uri_filenames, allow_redirects=True)
open('filenames.txt', 'wb').write(r.content)
df = pd.read_fwf('filenames.txt', skiprows=104)
df.iloc[:,0] = df.iloc[:,0].str[:25]
filenames = [n.strip() for n in df.iloc[:52,0].tolist()]

In [143]:
dfs = []
uri = 'https://download.bls.gov/pub/time.series/la/'
for filename in filenames:
  r = requests.get(uri+filename, allow_redirects=True)
  open('temp.txt', 'wb').write(r.content)
  df = pd.read_fwf('temp.txt')
  df.drop(['footnote_codes'], axis=1,  inplace=True)
  index = df[~df.series_id.str.endswith('03')].iloc[0].name
  df = df.iloc[:index,:]
  dfs.append(df)

In [144]:
import functools
df_unemployment = functools.reduce(lambda left,right: left.append(right, ignore_index=True),dfs)
df_unemployment

                  series_id  year period   value
0      LASST010000000000003  1976    M01     6.6
1      LASST010000000000003  1976    M02     6.6
2      LASST010000000000003  1976    M03     6.6
3      LASST010000000000003  1976    M04     6.5
4      LASST010000000000003  1976    M05     6.4
...                     ...   ...    ...     ...
27707  LASST560000000000003  2021    M06     5.4
27708  LASST560000000000003  2021    M07     5.2
27709  LASST560000000000003  2021    M08     4.9
27710  LASST560000000000003  2021    M09     4.5
27711  LASST560000000000003  2021    M10  4.1\tP

[27712 rows x 4 columns]

## Interest Rate (World Bank)

In [145]:
url_interest_rate = "https://fred.stlouisfed.org/graph/fredgraph.csv?bgcolor=%23e1e9f0&chart_type=line&drp=0&fo=open%20sans&graph_bgcolor=%23ffffff&height=450&mode=fred&recession_bars=on&txtcolor=%23444444&ts=12&tts=12&width=1168&nt=0&thu=0&trc=0&show_legend=yes&show_axis_titles=yes&show_tooltip=yes&id=INTDSRUSM193N&scale=left&cosd=1950-01-01&coed=2021-08-01&line_color=%234572a7&link_values=false&line_style=solid&mark_type=none&mw=3&lw=2&ost=-99999&oet=99999&mma=0&fml=a&fq=Monthly&fam=avg&fgst=lin&fgsnd=2020-02-01&line_index=1&transformation=lin&vintage_date=2021-11-02&revision_date=2021-11-02&nd=1950-01-01"
r = requests.get(url_interest_rate, allow_redirects=True)
open('data-interest-rate.csv', 'wb').write(r.content)

13243

In [146]:
df_interest_rate = pd.read_csv('data-interest-rate.csv')
df_interest_rate

           DATE  INTDSRUSM193N
0    1950-01-01           1.50
1    1950-02-01           1.50
2    1950-03-01           1.50
3    1950-04-01           1.50
4    1950-05-01           1.50
..          ...            ...
855  2021-04-01           0.25
856  2021-05-01           0.25
857  2021-06-01           0.25
858  2021-07-01           0.25
859  2021-08-01           0.25

[860 rows x 2 columns]

## Population (US Census Bureau - cleaned by ISU)

In [147]:
url_population = "https://www.icip.iastate.edu/sites/default/files/uploads/tables/population/popest-annual.xls"
r = requests.get(url_population, allow_redirects=True)
open('data-population.xls', 'wb').write(r.content)

235008

In [148]:
url_population = 'https://www.icip.iastate.edu/sites/default/files/uploads/tables/population/popest-annual-historical.xls'
r = requests.get(url_population, allow_redirects=True)
open('data-population2009.xls', 'wb').write(r.content)

330240

In [149]:
df_population = pd.read_excel('data-population.xls', sheet_name="States", skiprows=6, skipfooter=8)
df_population.head(10)

   Fips           Area  ...         2018         2019
0   0.0  United States  ...  326838199.0  328329953.0
1   NaN      Northeast  ...   56084543.0   56002934.0
2   NaN        Midwest  ...   68263019.0   68340091.0
3   NaN          South  ...  124649156.0  125686544.0
4   NaN           West  ...   77841481.0   78300384.0
5   1.0        Alabama  ...    4891628.0    4907965.0
6   2.0         Alaska  ...     736624.0     733603.0
7   4.0        Arizona  ...    7164228.0    7291843.0
8   5.0       Arkansas  ...    3012161.0    3020985.0
9   6.0     California  ...   39437463.0   39437610.0

[10 rows x 13 columns]

In [150]:
df_population = df_population[(df_population['Fips']>0) & (df_population['Fips']<57)]
df_population.reset_index(drop=True,inplace=True)
df_population.head(10)

   Fips                  Area  ...        2018        2019
0   1.0               Alabama  ...   4891628.0   4907965.0
1   2.0                Alaska  ...    736624.0    733603.0
2   4.0               Arizona  ...   7164228.0   7291843.0
3   5.0              Arkansas  ...   3012161.0   3020985.0
4   6.0            California  ...  39437463.0  39437610.0
5   8.0              Colorado  ...   5697155.0   5758486.0
6   9.0           Connecticut  ...   3574561.0   3566022.0
7  10.0              Delaware  ...    966985.0    976668.0
8  11.0  District of Columbia  ...    704147.0    708253.0
9  12.0               Florida  ...  21254926.0  21492056.0

[10 rows x 13 columns]

In [151]:
df_population2009 = pd.read_excel('data-population2009.xls', sheet_name="States", skiprows=4, skipfooter=4)
df_population2009.tail(10)

    Fips       Area Name      1969  ...      2007      2008      2009
50    55       Wisconsin   4378000  ...   5610775   5640996   5669264
51    56         Wyoming    329000  ...    534876    546043    559851
52    91     New England  11735000  ...  14279205  14340115  14403575
53    92         Mideast  42111000  ...  47473718  47684886  47943872
54    93     Great Lakes  39904000  ...  46187992  46275120  46355854
55    94          Plains  16202000  ...  20105697  20248815  20392583
56    95       Southeast  43440000  ...  76122849  77057840  77814936
57    96       Southwest  16328000  ...  35624083  36269039  36899289
58    97  Rocky Mountain   4943000  ...  10406301  10609537  10793888
59    98        Far West  26635000  ...  51031362  51608614  52167532

[10 rows x 43 columns]

In [152]:
df_population2009 = df_population2009[(df_population2009['Fips']>0) & (df_population2009['Fips']<57)]
df_population2009.reset_index(drop=True,inplace=True)
DateCol = list(df_population2009.filter(regex='19[0-9][0-9].*'))
df_population2009.drop(DateCol, axis=1, inplace=True)
df_population2009.rename(columns={'Area Name':'Area'}, inplace=True)
df_population2009.head(10)

   Fips                  Area      2000  ...      2007      2008      2009
0     1               Alabama   4452173  ...   4672840   4718206   4757938
1     2                Alaska    627963  ...    680300    687455    698895
2     4               Arizona   5160586  ...   6167681   6280362   6343154
3     5              Arkansas   2678588  ...   2848650   2874554   2896843
4     6            California  33987977  ...  36250311  36604337  36961229
5     8              Colorado   4326921  ...   4803868   4889730   4972195
6     9           Connecticut   3411777  ...   3527270   3545579   3561807
7    10              Delaware    786373  ...    871749    883874    891730
8    11  District of Columbia    572046  ...    574404    580236    592228
9    12               Florida  16047515  ...  18367842  18527305  18652644

[10 rows x 12 columns]

In [153]:
x= df_population2009.merge(df_population, on=['Fips', 'Area'], how='inner')
x.drop('Estimates Base (4/1/2010)', axis=1, inplace=True)
x.to_csv('data-population-merged.csv', index=False)
df_population.columns[1]

'Area'

## HPA (US Census Bureau - cleaned by ISU) - local

In [154]:
df_hpa = pd.read_csv('HPA_formatted_05-19.csv')
df_hpa

          region   sub_region          State  ...  year     month total_number_hpa
0     North East  New England    Connecticut  ...  2005   January              651
1     North East  New England          Maine  ...  2005   January              400
2     North East  New England  Massachusetts  ...  2005   January             1544
3     North East  New England  New Hampshire  ...  2005   January              497
4     North East  New England   Rhode Island  ...  2005   January              128
...          ...          ...            ...  ...   ...       ...              ...
9175        West      Pacific         Alaska  ...  2019  December              117
9176        West      Pacific     California  ...  2019  December            11523
9177        West      Pacific         Hawaii  ...  2019  December              342
9178        West      Pacific         Oregon  ...  2019  December             1821
9179        West      Pacific     Washington  ...  2019  December             4441

[9180 rows x 7 columns]

## Google Search Volume Index (pytrends) - local

In [155]:
!pip install git+https://github.com/GeneralMills/pytrends.git
import pandas as pd
from pytrends.request import TrendReq
import datetime
import time

pytrend = TrendReq()

# Desired Keyword list (up to 5 search terms in a kw_list)
kw_list = ["Real Estate Agent"]

dt = pd.date_range(start='01/01/2007', end='31/12/2020', freq='M')
months = [d.strftime('%Y-%m-%d') for d in dt]

keyWords = ["Apartment","Home", "Lending","Real Estate Bubble","Broker","Home Equity","Mortgage", "Real Estate Investment","Bubble", "Housing Bubble", "Real Estate","Real Estate Listings","Construction","Housing Market","Real Estate Agent","Realtor","Flat","Investment","Real Estate Broker","Rent"]

def GVData(kw, months):
    pytrend = TrendReq(backoff_factor=0.1)
    kw_list = [kw]
    # get your initial data
    full_year = "{} {}".format(months[0],months[1])
    pytrend.build_payload(kw_list, cat=29, timeframe=full_year, geo='US') 
    #cat 29 corresponds to Realestate category see: https://github.com/pat310/google-trends-api/wiki/Google-Trends-Categories , timeframe corresponds to 2004-present
    df_state = pytrend.interest_by_region() # Returns a pandas.dataframe of geoName and gt index [0, 100]
    # add YEAR and STATES column to data frame
    df_state["year"] = [months[0]]*51
    lastN = 0
    kStart = 1
    while(lastN < len(months)-2):
        try:
            for n,m in enumerate(months[kStart:-1]):        
                full_year = "{} {}".format(m,months[n+kStart+1])
                pytrend.build_payload(kw_list, cat=29, timeframe=full_year, geo='US') #cat 29 corresponds to Realestate category see: https://github.com/pat310/google-trends-api/wiki/Google-Trends-Categories , timeframe corresponds to 2004-present
                df = pytrend.interest_by_region()
                # add the year and states column
                year = [m] * 51
                df["year"] = year
                #df["states"] = states 
                # append df to df_state
                df_state = df_state.append(df)
                lastN = n+ kStart
                print(m)
        except:
            print("Error", lastN)
        
        if(lastN < len(months)-2):
            kStart = lastN+1
            print("Sleeping for 60s")
            time.sleep(60)
            
    return df_state
	

for kw in keyWords[16:]:
    df = GVData(kw, months)
    fileName = "GSVI_" + '_'.join(kw.split()) + ".csv"
    df.to_csv(fileName)
    print(kw)

## Personal Income

In [188]:
df_personal_income = pd.read_csv('data-personal-income.csv', skiprows=1, skipfooter=4)
df_personal_income.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

   GeoFIPS     GeoName  Region  ...    2020:Q1    2020:Q2    2020:Q3
0  "01000"     Alabama       5  ...   221867.9   241811.9   231119.5
1  "02000"    Alaska *       8  ...    46273.7    49558.6    48638.7
2  "04000"     Arizona       6  ...   345363.2   377958.3   369563.3
3  "05000"    Arkansas       5  ...   137467.4   151496.2   143133.3
4  "06000"  California       8  ...  2703290.1  2878700.0  2867030.7

[5 rows x 75 columns]

## State to Fips

In [189]:
url_state_fips = "https://gist.githubusercontent.com/dantonnoriega/bf1acd2290e15b91e6710b6fd3be0a53/raw/11d15233327c8080c9646c7e1f23052659db251d/us-state-ansi-fips.csv"
r = requests.get(url_state_fips, allow_redirects=True)
open('data-states-fips.csv', 'wb').write(r.content)
df_state_fips = pd.read_csv('data-states-fips.csv')
df_state_fips.rename(columns={' stusps': 'State', ' st':'Fips'}, inplace=True)
df_state_fips.drop(['stname'],axis=1,inplace=True)
df_state_fips = df_state_fips.astype({'Fips': 'int'})
df_state_fips['State'] = df_state_fips['State'].str.strip()
df_state_fips.head()

   Fips State
0     1    AL
1     2    AK
2     4    AZ
3     5    AR
4     6    CA

# Data Cleaning

## House Price Index (`Year`, `Month`, `Fips`, `HPI`)

In [158]:
df = df_hpi.copy()
df = df.melt(id_vars=["DATE"], var_name="State", value_name="HPI")
df['State'] = df['State'].str[:2]
df = pd.merge(df, df_state_fips, how='left', on=['State'])
date = pd.DatetimeIndex(pd.to_datetime(df['DATE']))
df['Year'] = date.year
df['Month'] = date.month
df.drop(['DATE', 'State'], axis=1,  inplace=True)
df_hpi_cleaned = df
df_hpi_cleaned

         HPI  Fips  Year  Month
0     208.29     1  2000      1
1     210.06     1  2000      4
2     211.71     1  2000      7
3     214.38     1  2000     10
4     220.65     1  2001      1
...      ...   ...   ...    ...
4381  339.07    56  2020      4
4382  344.09    56  2020      7
4383  351.01    56  2020     10
4384  356.57    56  2021      1
4385  371.70    56  2021      4

[4386 rows x 4 columns]

## Unemployment Rate (`Year`, `Month`, `Unemployment Rate`)

In [177]:
df = df_unemployment.copy()
df['Fips'] = df['series_id'].str[5:7].astype('int')
df['Month'] = df['period'].str[1:3].astype('int')
df['Unemployment Rate'] = df['value'].str.strip()
df.drop(['series_id', 'period', 'value'], axis=1,  inplace=True)
df.rename(columns={'year': 'Year'}, inplace=True)
df_unemployment_cleaned = df

In [178]:
df_unemployment_cleaned.loc[df_unemployment_cleaned['Unemployment Rate'].str.contains('\t'), 'Unemployment Rate'] = df_unemployment_cleaned['Unemployment Rate'].str[:-3]
df_unemployment_cleaned.loc[df_unemployment_cleaned['Unemployment Rate'].str.contains('\.$'), 'Unemployment Rate'] = df_unemployment_cleaned['Unemployment Rate'].str[:-1]
df_unemployment_cleaned['Unemployment Rate'] = pd.to_numeric(df_unemployment_cleaned['Unemployment Rate'], errors='coerce')
df_unemployment_cleaned.to_csv("data-unemployment.csv", encoding='utf-8', index=False)
df_unemployment_cleaned

       Year  Fips  Month  Unemployment Rate
0      1976     1      1                6.6
1      1976     1      2                6.6
2      1976     1      3                6.6
3      1976     1      4                6.5
4      1976     1      5                6.4
...     ...   ...    ...                ...
27707  2021    56      6                5.4
27708  2021    56      7                5.2
27709  2021    56      8                4.9
27710  2021    56      9                4.5
27711  2021    56     10                4.0

[27712 rows x 4 columns]

## Interest Rate (`Year`, `Month`, `Interest Rate`)

In [161]:
df = df_interest_rate.copy()
date = pd.DatetimeIndex(pd.to_datetime(df['DATE']))
df['Year'] = date.year
df['Month'] = date.month
df.drop(['DATE'], axis=1,  inplace=True)
df.rename(columns={'INTDSRUSM193N': 'Interest Rate'}, inplace=True)
df = df.astype({'Year': 'int', 'Month': 'int'})
df_interest_rate_cleaned = df
df

     Interest Rate  Year  Month
0             1.50  1950      1
1             1.50  1950      2
2             1.50  1950      3
3             1.50  1950      4
4             1.50  1950      5
..             ...   ...    ...
855           0.25  2021      4
856           0.25  2021      5
857           0.25  2021      6
858           0.25  2021      7
859           0.25  2021      8

[860 rows x 3 columns]

## Population (`Fip`, `Year`, `Population`)

In [162]:
df = x.melt(id_vars=["Fips", "Area"],\
                          var_name="Year",\
                          value_name="Population")
df.drop(['Area'], axis=1,  inplace=True)
df = df[df['Fips'].notna()]
df = df.astype({'Year': 'int', 'Fips': 'int'})
# df.to_csv('data-population.csv', index=False)
df_population = df
df

      Fips  Year  Population
0        1  2000   4452173.0
1        2  2000    627963.0
2        4  2000   5160586.0
3        5  2000   2678588.0
4        6  2000  33987977.0
...    ...   ...         ...
1015    51  2019   8556642.0
1016    53  2019   7614024.0
1017    54  2019   1795263.0
1018    55  2019   5824581.0
1019    56  2019    580116.0

[1020 rows x 3 columns]

## HPA (`Fips`, `Year`, `Month`, `HPA`)

In [163]:
df = df_hpa.copy()
df.drop(['region', 'sub_region', 'State'], axis=1, inplace=True)
df.rename(columns={'FIPS_State_code': 'Fips', 'year':'Year', 'month':'Month', 'total_number_hpa':'HPA'}, inplace=True)
df['Month'] = pd.to_datetime(df['Month'], format="%B").dt.month
df = df.astype({'Year': 'int', 'Month': 'int', 'Fips': 'int'})
df_hpa_cleaned = df
# df_hpa_cleaned.to_csv('data-hpa.csv', index=False)
df

      Fips  Year  Month    HPA
0        9  2005      1    651
1       23  2005      1    400
2       25  2005      1   1544
3       33  2005      1    497
4       44  2005      1    128
...    ...   ...    ...    ...
9175     2  2019     12    117
9176     6  2019     12  11523
9177    15  2019     12    342
9178    41  2019     12   1821
9179    53  2019     12   4441

[9180 rows x 4 columns]

## Personal Income

In [164]:
df = df_personal_income
df.drop(['TableName', 'LineCode', 'IndustryClassification', 'Description', 'Unit', 'Region', 'GeoName'], axis=1, inplace=True)
df.rename(columns={'GeoFIPS':'Fips'}, inplace=True)
df = df.melt(id_vars=["Fips"],\
             var_name="Year",\
             value_name="Personal Income")

df.loc[df['Year'].str.split(':', expand=True)[1].eq('Q1'), 'Month'] = 1
df.loc[df['Year'].str.split(':', expand=True)[1].eq('Q2'), 'Month'] = 4
df.loc[df['Year'].str.split(':', expand=True)[1].eq('Q3'), 'Month'] = 7
df.loc[df['Year'].str.split(':', expand=True)[1].eq('Q4'), 'Month'] = 11

df['Year'] = df['Year'].str.replace(":.*","").astype(int)
df['Fips'] = df['Fips'].str.slice(1,3).astype(int)
df['Month'] = df['Month'].astype(int)
# df.to_csv('data-personal-income-1.csv', index=False)
df_personal_income_cleaned = df
df

      Fips  Year  Personal Income  Month
0        1  2004         125134.6      1
1        2  2004          23857.8      1
2        4  2004         163796.4      1
3        5  2004          72186.1      1
4        6  2004        1296704.1      1
...    ...   ...              ...    ...
3948    94  2020        1208709.1      7
3949    95  2020        4470235.4      7
3950    96  2020        2288872.6      7
3951    97  2020         722972.6      7
3952    98  2020        3951476.4      7

[3953 rows x 4 columns]

# Merging

### Data Without HPI (Monthly)

In [165]:
# Interest Rates + Population
df_merge1 = pd.merge(df_population, df_interest_rate_cleaned,  how='inner', on = ['Year'])
# Interest Rates + Population + Unemployment
df_merge2 = pd.merge(df_merge1, df_unemployment_cleaned,  how='inner', on = ['Fips', 'Year', 'Month'])
# Interest Rates + Population + Unemployment + PI
df_merge3 = pd.merge(df_merge2, df_personal_income_cleaned,  how='inner', on = ['Fips', 'Year', 'Month'])
# Interest Rates + Population + Unemployment + PI + HPA
monthly_without_hpi = pd.merge(df_merge3, df_hpa_cleaned,  how='inner', on = ['Fips', 'Year', 'Month'])
monthly_without_hpi
# monthly_without_hpi.to_csv("monthly_without_hpi.csv", encoding='utf-8', index=False)

      Fips  Year  Population  ...  Unemployment Rate  Personal Income   HPA
0        1  2005   4569805.0  ...                5.0         133147.8  2986
1        1  2005   4569805.0  ...                4.6         135407.9  2292
2        1  2005   4569805.0  ...                4.3         136796.6  2663
3        1  2005   4569805.0  ...                4.2         139957.0  2720
4        2  2005    666946.0  ...                7.1          25213.7    90
...    ...   ...         ...  ...                ...              ...   ...
3055    55  2019   5824581.0  ...                3.3         312743.4  1949
3056    56  2019    580116.0  ...                3.7          35852.7   103
3057    56  2019    580116.0  ...                3.5          35821.9   207
3058    56  2019    580116.0  ...                3.7          36107.5   173
3059    56  2019    580116.0  ...                4.0          36188.6   113

[3060 rows x 8 columns]

### Data With HPI (Quarterly)

In [166]:
# Everything + HPI
quarterly_with_hpi = pd.merge(monthly_without_hpi, df_hpi_cleaned,  how='inner', on = ['Fips', 'Year', 'Month'])
quarterly_with_hpi
# quarterly_with_hpi.to_csv("quarterly_with_hpi.csv", encoding='utf-8', index=False)

      Fips  Year  Population  ...  Personal Income   HPA     HPI
0        1  2005   4569805.0  ...         133147.8  2986  256.36
1        1  2005   4569805.0  ...         135407.9  2292  262.41
2        1  2005   4569805.0  ...         136796.6  2663  267.91
3        2  2005    666946.0  ...          25213.7    90  238.92
4        2  2005    666946.0  ...          25650.7   434  247.85
...    ...   ...         ...  ...              ...   ...     ...
2290    55  2019   5824581.0  ...         309377.0  1967  366.07
2291    55  2019   5824581.0  ...         310060.3  1547  370.71
2292    56  2019    580116.0  ...          35852.7   103  316.12
2293    56  2019    580116.0  ...          35821.9   207  324.97
2294    56  2019    580116.0  ...          36107.5   173  329.60

[2295 rows x 9 columns]

## Merging Formatted Data

In [ ]:
# df_population = pd.read_csv('data-population.csv')
# df_unemployment = pd.read_csv('data-unemployment.csv')
# df_interest_rate = pd.read_csv('data-interest-rate.csv')
# df_hpi = pd.read_csv('data-hpi.csv')
# df_hpa = pd.read_csv('data-hpa.csv')
# df_personal_income = pd.read_csv('data-personal-income-1.csv')

In [ ]:
# df_merge1 = pd.merge(df_population, df_unemployment,  how='inner', on = ['Fips','Year'])
# df_merge2 = pd.merge(df_merge1, df_interest_rate,  how='inner', on = ['Fips', 'Year', 'Month'])
# df_merge3 = pd.merge(df_merge2, df_hpi, how='inner', on = ['Fips', 'Year', 'Month'])
# df_merge4 = pd.merge(df_merge3, df_hpa, how='inner', on = ['Fips', 'Year', 'Month'])
# df_merge5 = pd.merge(df_merge4, df_personal_income, how='inner', on = ['Fips', 'Year', 'Month'])
# df_merge5